<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Retter</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">
    <!-- Favicons -->
    

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="/static/homepage/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/homepage/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="/static/homepage/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/static/homepage/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="/static/homepage/vendor/aos/aos.css" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="/static/homepage/css/style.css" rel="stylesheet">
</head>

<body>

<!-- ======= Header ======= -->
<header id="header">
    <div class="container d-flex">

        <div class="logo mr-auto">
            <a href="#header">
            <img src="/static/homepage/img/Retter-logo.png" alt="Logo Retter"></a>
            <h1 class="text-light"><a href="index.html"></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav class="nav-menu d-lg-block d-md-block d-sm-block">
            <ul>
                <li class="active"><a href="#">Login</a></li>
                <li><a href="#"><img class="logo_log" src="/static/homepage/img/RedLog.png" alt=""></a></li>
                <li><a href="#"><img class="logo_log" src="/static/homepage/img/logo_green.png" alt=""></a></li>
            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class='box'>
    <div class="container ">
        <div class='wave -one'></div>
        <div class='wave -two'></div>
        <div class="row d-flex align-items-center">
            <div class=" col-lg-7 col-md-10 order-1 order-lg-1 text-lg-left text-md-left text-sm-center" data-aos="fade-right">
                <h1>Consultoría y seguridad informática comp.name</h1>
                <h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</h2>
                <div class="buttons"><a href="#">
                    <button class="btn-hover color-11">Cotiza con nosotros</button></a>
                </div>
            </div>
            <div>
            </div>
        </div>
    </div>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients section-bg">
        <div class="container d-flex justify-content-center">
            <div class="row mt-5 mb-5 fadeInUp">
                <div class="row col justify-content-center mb-5">
                    <div class="col-lg-3 col-md-6 col-sm-6 mx-4 justify-content-center align-items-center ml-0">
                        <div class="row row-area-tittle mt-5 justify-content-start align-items-center">
                            <div>
                                <p class="punto">
                                    *
                                </p>
                            </div>
                            <div class="ml-3">
                                <p>
                                    Es simplemente
                                </p>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center circle-activity">
                            <div class="mt-5 client-logo">
                                <img src="/static/homepage/img/clients/Shape.png" class="img-fluid" alt=""
                                    data-aos="flip-right">
                            </div>
                            <div class="section-title">
                                <h2 class="fade-in">Es simplemente el texto</h2>
                                <p class="fade-in">de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto  Lorem Ipsum ha de texto de las Ver más</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 mx-4 justify-content-center align-items-center">
                        <div class="row row-area-tittle mt-5 justify-content-start align-items-center">
                            <div>
                                <p class="punto">
                                    *
                                </p>
                            </div>
                            <div class="ml-3">
                                <p>
                                    Es simplemente
                                </p>
                            </div>
                        </div>
                        <div class="row justify-content-center circle-activity">
                            <div class="mt-5 client-logo">
                                <img src="/static/homepage/img/clients/Config.png" class="img-fluid" alt=""
                                    data-aos="flip-right">
                            </div>
                            <div class="section-title">
                                <h2 class="fade-in">Es simplemente el texto</h2>
                                <p class="fade-in">de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto  Lorem Ipsum ha de texto de las Ver más</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 mx-4 justify-content-center align-items-center">
                        <div class="row row-area-tittle mt-5 justify-content-start align-items-center">
                            <div>
                                <p class="punto">
                                    *
                                </p>
                            </div>
                            <div class="ml-3">
                                <p>
                                    Es simplemente
                                </p>
                            </div>
                        </div>
                        <div class="row justify-content-center circle-activity">
                            <div class="mt-5 client-logo">
                                <img src="/static/homepage/img/clients/Tv.png" class="img-fluid" alt=""
                                    data-aos="flip-right">
                            </div>
                            <div class="section-title">
                                <h2 class="fade-in">Es simplemente el texto</h2>
                                <p class="fade-in">de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto  Lorem Ipsum ha de texto de las Ver más</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container mt-5 mb-5">
                    <div class="row mt-5 mb-5 d-flex justify-content-center">
                        <div class="col col-lg-7 col-md-8 col-xs-12 py-5 py-lg-0 order-1 order-lg-1 justify-content-center" data-aos="fade-right">
                            <h1 class="h1-feature text-sm-center text-md-left pr-md-3 mt-3">Soluciones y alquiler de hardware comp.name</h1>
                            <h2 class="h2-feature text-sm-center text-md-left pr-lg-5 pr-md-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has 
                                been the industry's standard dummy text ever since the 1500s, when an unknown printer took a type specimen book.</h2>
                        </div>
                        <div class="col col-lg-4 col-md-4 col-xs-12 order-1 order-md-2" data-aos="fade-left">
                            <div class="features-S-H">
                                <div class="row-features mx-3">
                                    <div class="sh-circle">
                                        <img src="/static/homepage/img/Apple-logo.png" class="sh-img1" alt="">
                                    </div>
                                    <div class="sh-circle">
                                        <img src="/static/homepage/img/Lenovo-logo.png"  class="sh-img2" alt="">
                                    </div>
                                </div>
                                <div class="row-features">
                                    <div class="sh-circle">
                                        <img src="/static/homepage/img/Asus-logo.png" class="sh-img2" alt="">
                                    </div>
                                    <div class="sh-circle">
                                        <img src="/static/homepage/img/Dragon-logo.png"  class="sh-img1" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container mt-5 mb-5">
                    <div class="row mt-5 mb-5 d-flex justify-content-center">
                        <div class="col col-lg-7 col-md-8 col-xs-12 py-5 py-lg-0 order-1 order-lg-1 justify-content-center" data-aos="fade-right">
                            <h1 class="h1-feature text-sm-center text-md-left pr-md-3 mt-3">Soluciones y alquiler de software comp.name</h1>
                            <h2 class="h2-feature text-sm-center text-md-left pr-lg-5 pr-md-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has 
                                been the industry's standard dummy text ever since the 1500s, when an unknown printer took a type specimen book.</h2>
                        </div>
                        <div class="col col-lg-4 col-md-4 col-xs-12 order-1 order-md-2" data-aos="fade-left">
                            <div class="features-S-H">
                                <div class="row-features mx-3">
                                    <div class="sh-circle">
                                        <img src="/static/homepage/img/MacOs.png/" class="sh-img3" alt="">
                                    </div>
                                    <div class="sh-circle">
                                        <img src="/static/homepage/img/Windows.png/"  class="sh-img3" alt="">
                                    </div>
                                </div>
                                <div class="row-features">
                                    <div class="sh-circle">
                                        <img src="/static/homepage/img/Linux.png" class="sh-img3" alt="">
                                    </div>
                                    <div class="sh-circle">
                                        <img src="/static/homepage/img/Azure.png"  class="sh-img3" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Clients Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="box-contact">
        <div class="container mt-5 mb-5">
            <div class="row">
                <h1 class="col col-lg-6 h1-contact ml-2 text-sm-center text-lg-left text-md-left">Para nosotros es importante que estemos en contacto</h1>
                <div class="row mt-5">
                    <div class="mt-lg-5 col-lg-6 py-5 py-lg-0 order-2 order-lg-1 ml-sm-5 ml-lg-0" data-aos="fade-right">
                        <form class="mt-5 justify-content-md-center">
                            <div class="col-md-6 form-line">
                                <div class="form-group1">
                                    <label for="exampleInputUsername">Nombre</label>
                                    <input type="text" class="label" id="">
                                </div>
                                <div class="form-group1">
                                    <label for="exampleInputEmail">Correo</label>
                                    <input type="email" class="label" id="exampleInputEmail">
                                </div>	
                            </div>
                            <div class="col-md-6">
                                <div class="logo-in-contact">
                                    <img src="/static/homepage/img/Retter-logo.png'" alt="Logo Retter">
                                    <p>
                                        es simplemente el texto de relleno de las imprentas y archivos de texto. 
                                        Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde 
                                        el año 1500, cuando.
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col mt-lg-5 col col-lg-5 order-2 order-lg-1 ml-md-5 " data-aos="fade-left">
                        <form class=" col col-lg-6 mt-5">
                            <div class="col-md-6 form-line">
                                <div class="form-group1">
                                    <label for="exampleInputUsername">Mȯvil</label>
                                    <input type="text" class="label" id="">
                                </div>
                                <div class="form-group1">
                                    <label for="exampleInputEmail">Empresa</label>
                                    <input type="email" class="label" id="exampleInputEmail">
                                </div>	
                            </div>
                            <div class="col-md-6">
                                <div class="form-group1">
                                    <label for ="description"> Mensaje</label>
                                    <textarea  class="label-m" id="description"></textarea>
                                    <div class="ml-5 d-flex flex-row-reverse send-buton">
                                        <button type="button" class="ml-5 btn btn-dark submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>  Send Message</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div> <!-- End Contact Section -->
            <!-- ======= Footer ======= -->
        <footer id="footer-retter" class="">
            <div class="container">
                <div class="row d-flex justify-content-center align-items-center mh-100">
                    <div class="col-4 col-md-4 row-social justify-content-left my-4">
                        <li class="social-circle">
                            <img src="/static/homepage/img/Instagram.png" alt="">
                        </li>
                        <li class="social-circle">
                            <img src="/static/homepage/img/LinkedIn.png" alt="">
                        </li>
                        <li class="social-circle">
                            <img src="/static/homepage/img/Facebook.png" alt="">
                        </li>
                        <li class="social-circle">
                            <img src="/static/homepage/img/WhatsApp.png" alt="">
                        </li>
                    </div>
                    <div class=" col-7 col-md-6row-social2 d-flex align-items-center">
                        <p class="mt-3">
                            Es un hecho establecido desde hace mucho tiempo que un lector se distraerá con el 
                            contenido legible de una página al mirar su diseño. El punto de usar Lorem Ipsum 
                            es que tiene una distribución de letras más o menos normal, en lugar de usar 
                            'Contenido aquí, contenido aquí', lo que hace que parezca un inglés legible. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="R col-11">
                <img src="/static/homepage/img/Retter-R.png" alt="Retter-logo">
            </div>
        </footer><!-- End Footer -->
        </div>
    </section>
</main><!-- End #main -->

<!-- ======= Footer ======= -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href="https://api.whatsapp.com/send?phone=573142460064&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Retter%20." class="float" target="_blank">
<i class="my-float"><img class="whatsapp" src="/static/homepage/img/whatsapp1.png" alt=""></i>
</a>
<!-- Vendor JS Files -->
<script src="/static/homepage/vendor/jquery/jquery.min.js"></script>
<script src="/static/homepage/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/homepage/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="/static/homepage/vendor/php-email-form/validate.js"></script>
<script src="/static/homepage/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/static/homepage/vendor/venobox/venobox.min.js"></script>
<script src="/static/homepage/vendor/aos/aos.js"></script>

<!-- Template Main JS File -->
<script src="/static/homepage/js/main.js"></script>

</body>

</html>